<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="libraryFile" value="D:\Dokumenty_Wiktorii\studia\rok4\sem7\C#\C#_project\DAOSQL\bin\Debug\net8.0\DAOSQL.dll"/>
		<add key="dbFile" value="D:\Dokumenty_Wiktorii\studia\rok4\sem7\C#\C#_project\DAOFile\DbInFile.txt"/>
		<add key="dataBase" value="D:\Dokumenty_Wiktorii\studia\rok4\sem7\C#\C#_project\TelescopeGUI\app.db"/>
	</appSettings>
</configuration>